*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

app/src/main/java/com/rubenpla/develop/petagramcoursera/mvp/presenter/IMainActivityPresenter.java

app/src/main/java/com/rubenpla/develop/petagramcoursera/mvp/presenter/MainActivityPresenter.java
